nav ul{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav ul li{
    padding: 10px;
    color: black;
    background-color: darkslategray;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: newcurier;
    color: teal;
    font-weight: bold;
}
nav ul li:hover{
    background-color: black;
    color: white;
}
